* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f6f9;
  color: #1f2937;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}

.bg-light {
  background-color: #ffffff;
}

/* -------------------- header ----------*/
.header {
  background-color: #0f172a;
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #cbd5e1;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #38bdf8;
}
 
.hero {
  background-color: #e2e8f0;
  text-align: center;
}

.about-content {
  padding: 40px 0;
}
.about-text h1 {
  font-size: 40px;
  margin: 10px 0;
}
.subtitle {
  font-size: 18px;
  color: #475569;
  margin-bottom: 20px;
}

/* --------------------button ----------*/

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2563eb;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}
.btn:hover {
  background-color: #1d4ed8;
  transform: translateY(-2px);
}

/* -------------------- section titles & text ----------*/

.section-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #2563eb;
}
.section-text {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: #4b5563;
}

/* ------------------------------ skills  ------------------------*/

.skills-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}
.skill-card {
  padding: 15px 30px;
  border-radius: 6px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
 
.html {
  background-color: #e44d26;
}
.css {
  background-color: #264de4;
}
.js {
  background-color: #f7df1e;
  color: #000;
}

/*-------------------------------- hover effects for skills -------------------*/
.skill-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.html:hover {
  box-shadow: 0 10px 25px rgba(228, 77, 38, 0.4);
}
.css:hover {
  box-shadow: 0 10px 25px rgba(38, 77, 228, 0.4);
}
.js:hover {
  box-shadow: 0 10px 25px rgba(247, 223, 30, 0.4);
}

/* --------------------project section ----------*/
.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 40px;
}

.project-card {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 260px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease;
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card p {
  margin-bottom: 20px;
  color: #4b5563;
  line-height: 1.6;
  flex-grow: 1;
}

/* -----------------------project card hover */
.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
  border-color: #2563eb;
}

.project-btn {
  align-self: flex-start;
  padding: 8px 18px;
  background-color: #2563eb;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.project-btn:hover {
  background-color: #1d4ed8;
  transform: scale(1.05);
}

/* -------------------- contact seciton ----------*/
.contact-form {
  max-width: 500px;
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #2563eb;
  box-shadow: 0 0 5px rgba(37, 99, 235, 0.3);
  outline: none;
}

.contact-form textarea {
  min-height: 120px;
  resize: none;
}

/* -------------------- footer ----------*/
.footer {
  background-color: #0f172a;
  color: #cbd5e1;
  text-align: center;
  padding: 20px 0;
}

/* Tablet */
@media (max-width: 992px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-text h1 {
    font-size: 32px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

  .hero-text h1 {
    font-size: 26px;
  }
}
/* ---------------------------------Product Dashboard---------------------------------- */

/* -------------------- Nav ----------*/

.top-nav {
  position: sticky;
  top: 0;
  height: 70px;
  background-color: #0f172a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: white;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.search-bar input {
  width: 400px;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-profile img {
  border-radius: 50%;
  border: 1px solid black;
  
}

.dashboard-wrapper {
  display: flex;
  min-height: calc(100vh - 70px);
}

/* ---------------------------------sidebar---------------------------------- */

.sidebar {
  width: 230px;
  background-color: #1e293b;
  padding: 30px 20px;

  position: sticky;
  top: 70px;
  align-self: flex-start;
  height: calc(100vh - 70px);
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 6px;
  cursor: pointer;
  color: #cbd5e1;
  transition: 0.3s;
}

.sidebar li:hover {
  background-color: #2563eb;
  color: white;
}

.sidebar .active {
  background-color: #2563eb;
  color: white;
}

.main-content {
  flex: 1;
  padding: 40px;
}

/* ---------------------------------section---------------------------------- */

.category-section {
  margin-bottom: 60px;
}

.category-section h2 {
  margin-bottom: 25px;
  border-left: 5px solid #2563eb;
  padding-left: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

/* -------------------------------- cards---------------------------------- */

.card {
  background: white;
  border-radius: 12px;
  border: 1px solid #e2e8f0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.3s;
}

.image-box {
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8fafc;
  padding: 20px;
}

.image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-content {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
}

.price {
  font-weight: bold;
}

.stock {
  margin-top: auto;
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
}

.in-stock {
  background-color: #dcfce7;
  color: #15803d;
}

.out-stock {
  background-color: #fee2e2;
  color: #b91c1c;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

/* ---------------------------------footer---------------------------------- */

.footer {
  background-color: #0f172a;
  color: #cbd5e1;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {

  /* HEADER STACK */
  .top-nav {
    flex-direction: column;
    height: auto;
    padding: 15px 20px;
    gap: 10px;
    text-align: center;
  }

  .search-bar input {
    width: 100%;
    max-width: 250px;
  }

  .user-profile {
    justify-content: center;
  }

   .dashboard-wrapper {
    flex-direction: column;
  }

  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
 
  .main-content {
    margin-left: 0;
    padding: 20px;
  }
 
  .product-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
 
  .image-box {
    height: 200px;
  }
   .footer {
    margin-left: 0;
  }
}
